<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="An automated FTP client for your home server" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Edit Host</title>

    <link rel="icon" th:href="@{/favicon.ico}" />

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" th:replace="fragments/header :: header">
    </div>

    <div class="container">

        <div class="schedules-section">

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Edit Host</h2>
                    </div>
                </div>
            </div>

			<div class="well">
	            <form class="form-horizontal" onsubmit="return false;" action="#" th:object="${host}">
	                <fieldset>

	                    <div class="row">

	                        <div class="col-md-12">

	                            <div class="form-group">
	                                <label for="host-name" class="col-lg-2 control-label">Name <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="What you want to refer to this host as" class="help glyphicon glyphicon-question-sign"></span></label>
	                                <div class="col-lg-10">
	                                    <input type="hidden" th:if="*{id}" th:field="*{id}" />
	                                    <input type="text" class="form-control validate" th:field="*{name}" autocomplete="off" />
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-lg-2 control-label">Protocol <span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="What kind of server is this?" class="help glyphicon glyphicon-question-sign"></span></label>
	                                <div class="col-lg-10">
	                                    <div class="radio" th:each="protocol : ${allProtocols}">
	                                        <label th:inline="text">
	                                            <input type="radio" th:field="*{protocol}" th:value="${protocol}" /> [[${protocol}]]
	                                        </label>
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-lg-2 control-label">Host Address <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Name or IP address of the host" class="help glyphicon glyphicon-question-sign"></span></label>
	                                <div class="col-lg-10">
	                                    <input type="text" class="form-control validate" th:field="*{address}" autocomplete="off" />
	                                </div>
                                </div>

                                <div class="form-group">
	                                <label class="col-lg-2 control-label">Port <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="The port used by the host for this protocol" class="help glyphicon glyphicon-question-sign"></span></label>
	                                <div class="col-lg-4">
	                                    <input type="number" class="form-control validate" th:field="*{port}" autocomplete="off" />
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-lg-2 control-label">Username</label>
	                                <div class="col-lg-10">
	                                    <input type="text" class="form-control validate" th:field="*{username}" autocomplete="off" />
	                                </div>
	                            </div>
	                            
								 <div th:unless="${host.protocol.toString().equals('SFTP')}" class="form-group" id="toggleIdentity-group" style="display: none">
	                                <label class="col-lg-2 control-label">Use Identity File <span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Use a local private identity file instead of a password" class="help glyphicon glyphicon-question-sign"></span></label>
	                                <div class="col-lg-10">
	                                    <div class="checkbox">
	                                      <label></label>
	                                      <input type="checkbox" th:field="*{identityFileEnabled}" />
	                                    </div>
	                                </div>
	                            </div>

	                            <div th:if="${host.protocol.toString().equals('SFTP')}" class="form-group" id="toggleIdentity-group">
	                                <label class="col-lg-2 control-label">Use Identity File <span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Use a local private identity file instead of a password" class="help glyphicon glyphicon-question-sign"></span></label>
	                                <div class="col-lg-10">
	                                    <div class="checkbox">
	                                      <label></label>
	                                      <input type="checkbox" th:field="*{identityFileEnabled}" />
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div th:unless="${host.identityFileEnabled}" class="form-group" id="password-group">
	                                <label class="col-lg-2 control-label">Password</label>
	                                <div class="col-lg-10">
	                                    <input type="password" class="form-control" th:value="*{password}" name="password" id="password" autocomplete="off" />
	                                </div>
	                            </div>
	                            
	                            <div th:if="${host.identityFileEnabled}" class="form-group" id="password-group" style="display: none">
	                                <label class="col-lg-2 control-label">Password</label>
	                                <div class="col-lg-10">
	                                    <input type="password" class="form-control" th:value="*{password}" name="password" id="password" autocomplete="off" />
	                                </div>
	                            </div>
	                            
	                            <div th:if="${host.identityFileEnabled}" class="form-group" id="identityFile-group">
	                                <label class="col-lg-2 control-label">Identity File</label>
	                                <div class="col-lg-10">
	                                    <input type="text" class="form-control" th:value="*{identityFile}" name="identityFile" id="identityFile" autocomplete="off" placeholder="e.g. /config/.ssh/id_rsa" />
	                                </div>
	                            </div>
	                            
	                            <div th:unless="${host.identityFileEnabled}" class="form-group" id="identityFile-group" style="display: none">
	                                <label class="col-lg-2 control-label">Identity File</label>
	                                <div class="col-lg-10">
	                                    <input type="text" class="form-control" th:value="*{identityFile}" name="identityFile" id="identityFile" autocomplete="off" placeholder="e.g. /config/.ssh/id_rsa" />
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-lg-2 control-label"></label>
	                                <div class="col-lg-10">
	                                    <button type="button" class="btn btn-sm btn-primary" id="testConnection">Test Connection</button>
	                                </div>
	                            </div>

	                        </div>
	                    </div>


	                    <div class="row">

	                        <div class="col-md-12">

	                            <div class="form-group last">
	                                <div class="col-lg-6">
	                                    <div th:if="${host.id}">
	                                        <div th:unless="${#lists.isEmpty(usedBy)}">
	                                            <button type="button" class="btn btn-danger" title="You can't delete a host that is in use by a schedule" disabled="disabled">Delete</button>
	                                        </div>
	                                        <button type="button" th:if="${#lists.isEmpty(usedBy)}" class="btn btn-danger" data-toggle="modal" data-target="#deleteHostModal">Delete</button>
	                                    </div>
	                                </div>
	                                <div class="col-lg-6 align-right">
	                                    <button type="button" class="btn btn-primary" id="saveHost">Save</button>
	                                </div>
	                            </div>

	                        </div>

	                    </div>

	                </fieldset>
	            </form>
			</div>
        </div>

    </div>

    <div id="deleteHostModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteHostModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete this host</h4>
                </div>
                <div class="modal-body" th:if="${#lists.isEmpty(usedBy)}">
                    <p>Are you sure?</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteHost">Yes, delete this host</button>
                </div>
                <div class="modal-body" th:unless="${#lists.isEmpty(usedBy)}">
                    <p>This host is being used by active schedules. Please check them before attempting to delete this host.</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/davos.js}"></script>

    <script>
        $('body').popover({ container: 'body', selector: '[data-toggle="popover"]', trigger: 'hover' });
    </script>

</body>

</html>
