<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="An automated FTP client for your home server" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hosts</title>

    <link rel="icon" th:href="@{/favicon.ico}" />

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" th:replace="fragments/header :: header">
    </div>
    
    <div class="container">

        <div class="schedules-section">

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Hosts</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Protocol</th>
                                <th>Address</th>
                                <th>Username</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="host : ${allHosts}">
                                <td th:text="${host.name}"></td>
                                <td th:text="${host.protocol}"></td>
                                <td th:text="${host.address}"></td>
                                <td th:text="${host.username}"></td>
                                <td><a class="link" th:href="@{/hosts/} + ${host.id}"><span class="glyphicon glyphicon-wrench edit-host" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Edit"></span></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>

</body>

</html>
