<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="An automated FTP client for your home server" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Schedules</title>

    <link rel="icon" th:href="@{/v2/favicon.ico}" />

    <link type="text/css" rel="stylesheet" th:href="@{/v2/css/bootstrap.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/v2/css/davos.css}" media="screen" />

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/v2}" class="navbar-brand">davos</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="scheduling">Scheduling <span class="caret" /></a>
                        <ul class="dropdown-menu" aria-labelledby="scheduling">
                            <li><a th:href="@{/v2/schedules}"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp; Schedules</a></li>
                            <li><a th:href="@{/v2/hosts}"><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp; Hosts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="settings">Settings <span class="caret" /></a>
                        <ul class="dropdown-menu" aria-labelledby="settings">
                            <li><a th:href="@{/v2/schedules/new}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; New Schedule</a></li>
                            <li><a th:href="@{/v2/hosts/new}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; New Host</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/v2/settings}"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp; App Settings</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="schedules-section">

            <div class="row">
                <div class="page-header">
                    <h2>Schedules</h2>
                </div>
            </div>

            <div class="row" th:each="schedule : ${schedules}">

                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading" th:inline="text">[[${schedule.name}]] &nbsp;&nbsp;
                            <span th:classappend="${not schedule.running} ? 'hide'">
                                <span class="label label-default label-title">Running</span>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-stop stop-schedule" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Stop" th:attr="data-schedule-id=${schedule.id},data-schedule-name=${schedule.name}"></span>
                            </span>
                            <span th:classappend="${schedule.running} ? 'hide'" class="glyphicon glyphicon-play start-schedule" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Start" th:attr="data-schedule-id=${schedule.id},data-schedule-name=${schedule.name}"></span>
                            &nbsp;&nbsp;<a class="link" th:href="@{/v2/schedules/} + ${schedule.id}"><span class="glyphicon glyphicon-wrench" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Edit"></span></a>
                            &nbsp;&nbsp;<span class="glyphicon glyphicon-time" data-toggle="modal" th:attr="data-target='#lastScanned' + ${schedule.id}"></span>
                        </div>
                        <div class="panel-body">
                            <div class="downloads">
                                <table class="table" th:if="${not #lists.isEmpty(schedule.transfers)}">
                                    <thead>
                                        <tr>
                                            <th>File</th>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>Progress</th>
                                            <th>Speed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="transfer : ${schedule.transfers}">
                                            <td th:text="${transfer.fileName}"></td>
                                            <td th:text="${(transfer.fileSize / 1000000) + 'MB'}"></td>
                                            <td th:if="${transfer.progress}">
                                                <span th:if="${transfer.progress.percentageComplete &lt; 100}">Downloading</span>
                                                <span th:if="${transfer.progress.percentageComplete == 100}">Complete</span>
                                            </td>
                                            <td th:unless="${transfer.progress}">Pending</td>
                                            <td th:if="${transfer.progress}">
                                                <div class="progress">
                                                    <div class="progress-bar" th:style="'width:' + ${transfer.progress.percentageComplete} + '%'"></div>
                                                </div>
                                            </td>
                                            <td th:unless="${transfer.progress}">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" style="width: 100%;"></div>
                                                </div>
                                            </td>
                                            <td th:if="${transfer.progress}">
                                                <span th:if="${transfer.progress.percentageComplete &lt; 100}" th:text="${#numbers.formatDecimal(transfer.progress.transferSpeed, 0, 2, 'POINT') + 'MB/s'}"></span>
                                            </td>
                                            <td th:unless="${transfer.progress}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div th:attr="id='lastScanned' + ${schedule.id},aria-labelledby='lastScanned' + ${schedule.id}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Files on the host during the last scan</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="file : ${schedule.lastScannedFiles}">
                                            <td th:text="${file}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript" th:src="@{/v2/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/bootstrap-notify.min.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/davos.js}"></script>

    <script>
        $('body').popover({ container: 'body', selector: '[data-toggle="popover"]', trigger: 'hover' });
    </script>

</body>

</html>
