<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="An automated FTP client for your home server" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>App Settings</title>

    <link rel="icon" th:href="@{/favicon.ico}" />

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />


</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>App Settings</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal" onsubmit="return false;" th:object="${settings}">
                <fieldset>

					<div class="col-md-12">

	                    <div class="form-group">
	                        <label for="logging-level" class="col-md-2 control-label">Logging Level</label>
	                        <div class="col-md-10">
	                            <select class="form-control" th:field="*{logLevel}">
	                                <option th:each="level : ${allLogLevels}" th:value="${level}" th:text="${level}">DEBUG</option>
	                            </select>
	                        </div>
	                    </div>
                    
                    </div>

                </fieldset>
            </form>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>About</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal" onsubmit="return false;">
                <fieldset>

					<div class="col-md-12">

	                    <div class="form-group">
	                        <label class="col-md-2 control-label" style="padding-top: 0px">Version</label>
	                        <div class="col-md-10">
	                            <span th:text="${currentVersion}"></span>
	                        </div>
	                    </div>
                    
                    </div>

                </fieldset>
            </form>
        </div>

    </div>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/davos.js}"></script>

</body>

</html>
