<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="An automated FTP client for your home server" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>App Settings</title>

    <link rel="icon" th:href="@{/favicon.ico}" />

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />


</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">davos<small>v2</small></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="scheduling">Scheduling <span class="caret" /></a>
                        <ul class="dropdown-menu" aria-labelledby="scheduling">
                            <li><a th:href="@{/schedules}"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp; Schedules</a></li>
                            <li><a th:href="@{/hosts}"><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp; Hosts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="settings">Settings <span class="caret" /></a>
                        <ul class="dropdown-menu" aria-labelledby="settings">
                            <li><a th:href="@{/schedules/new}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; New Schedule</a></li>
                            <li><a th:href="@{/hosts/new}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; New Host</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/settings}"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp; App Settings</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <div class="container">

        <div>

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>App Settings</h2>
                    </div>
                </div>
            </div>

            <form class="form-horizontal" onsubmit="return false;" th:object="${settings}">
                <fieldset>

                    <div class="row">

                        <div class="form-group">
                            <label for="logging-level" class="col-lg-2 col-sm-12 control-label">Logging Level</label>
                            <div class="col-lg-4 col-sm-12">
                                <select class="form-control" th:field="*{logLevel}">
                                    <option th:each="level : ${allLogLevels}" th:value="${level}" th:text="${level}">DEBUG</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </fieldset>
            </form>

        </div>

    </div>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/davos.js}"></script>

</body>

</html>
