<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<RollingFile name="File" fileName="/config/logs/davos.log" filePattern="/config/logs/${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %5p - [%c{1}] - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="io.linuxserver" level="info" additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		
		<Logger name="org.thymeleaf" level="warn" additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		
		<Root level="warn">
			<AppenderRef ref="File" />
		</Root>
		
	</Loggers>

</Configuration>
