#main-nav {
    position: fixed;
    height: 100%;
    width: 200px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#logo {
    width: 100%;
    height: 200px;
    position: relative;
}
#navigation ul li {
    line-height: 50px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    position: relative;
}
#navigation ul li a {
    display: block;
    padding-left: 45px;
    color: #666;
}
#navigation ul li.active,
#navigation ul li.active:hover {
    background-color: #80cbc4;
    font-weight: 500;
    color: #fff;
}
#navigation ul li.active a {
    color: #fff;
}
#navigation ul li i.material-icons {
    position: absolute;
    font-size: 25px;
    margin: auto;
    height: 25px;
    width: 25px;
    top: 0;
    bottom: 0;
    left: 10px;
}
#navigation ul li:hover {
    background-color: #efefef;
}
html {
    color: #666;
}
#logo-text {
    font-size: 40px;
    color: #666;
    position: absolute;
    width: 100%;
    margin: auto;
    height: 60px;
    top: 0;
    bottom: 0;
}
main {
    padding-left: 200px;
}
h1.header {
    color: #fff;
}
h2.header {
    color: #80cbc4;
}
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
span.badge.info {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2px;
}
span.badge.info.idle {
    background-color: #80cbc4;
}
span.badge.info.idle:after {
    content: "Idle";
}

span.badge.info.in-progress:after {
    content: "Download in Progress";
}

span.badge.info.in-progress {
    background-color: #26a69a;
}

a.collection-item.schedule {
    font-weight: 300;
    color: #666;
}
.collapsible-body {
    padding: 40px
}

.collapsible-header {
    position: relative;
}
