<table class="table" th:if="${not #lists.isEmpty(schedule.transfers)}">
    <thead>
        <tr>
            <th>File</th>
            <th>Size</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="transfer : ${schedule.transfers}">
            <td th:text="${transfer.fileName}"></td>
            <td th:unless="${transfer.directory}" th:text="${(transfer.fileSize / 1000000) + 'MB'}"></td>
            <td th:if="${transfer.directory}"></td>
            <td>
                <span th:text="${transfer.status}"></span>
            </td>
                <div class="progress">
                    <div class="progress-bar" th:style="'width:' + ${transfer.progress.percentageComplete} + '%'"></div>
                </div>
            </td>
                <div class="progress" th:if="${transfer.status == 'PENDING'}">
                </div>
                <div class="progress" th:if="${transfer.status == 'SKIPPED'}">
                    <div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
                </div>
            </td>
                <span th:if="${transfer.progress.percentageComplete &lt; 100}" th:text="${#numbers.formatDecimal(transfer.progress.transferSpeed, 0, 2, 'POINT') + 'MB/s'}"></span>
            </td>
            <td th:unless="${transfer.progress}"></td>
        </tr>
    </tbody>
</table>
