html,
body {
    font-family: "Roboto", 'Helvetica', sans-serif !important;
}

input {
  font-family: "Roboto", "Helvetica","Arial",sans-serif !important;
}

.davos-layout .davos-header .mdl-textfield {
    padding-top: 27px;
}

.davos-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.davos-drawer {
    border: none;
}

/* iOS Safari specific workaround */

.davos-drawer .mdl-menu__container {
    z-index: -1;
}
.davos-drawer .davos-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */

.davos-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.davos-drawer-header {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.davos-navigation {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.davos-layout .davos-navigation .mdl-navigation__link {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.davos-layout .davos-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}
.davos-layout {
    min-height: 100%;
    position: absolute;
}

.davos-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.davos-content {
  padding: 20px;
}

.davos-content.paper {

  max-width: 1090px;
  margin: 40px auto;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  border-radius: 2px;
  background-color: #FFF;
}

.davos-content.paper .mdl-textfield {
  padding: 10px 0;
}

.davos-schedule-card {
    margin: 20px;
}

.davos-schedule-card .mdl-card__supporting-text {
    height: 55px;
}

.davos-add-schedule {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.davos-header-icon {
  float: left;
    margin-right: 10px;
    font-size: 26px;
}

.mdl-textfield.full {
  width: 100%;
}

.mdl-textfield.short {
  width: 50%;
}

.mdl-textfield__input {
  font-size: 14px;
}

p.subtext {
  margin: 0;
  font-size: 12px;
}

h4 {
  margin: 0;
  font-weight: 300;
}

span.label {
  display: inline-block;
  font-weight: 300;
  padding: 10px 0;
  width: 100%;
}

.mdl-cell {
  vertical-align: middle;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #E4E4E4;
    margin-right: 10px;
    margin-bottom: 10px;
}

.chip .letter {
  text-transform: capitalize;
  float: left;
width: 32px;
height: 32px;
background-color: #cdcdcd;
border-radius: 16px;
margin-left: -16px;
text-align: center;
margin-right: 10px;
font-size: 16px;
}

.chip i.material-icons {
  cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

#schedule-list {
    margin: 0 auto;
    width: 80%;
}

.schedule-start {
  background-color: rgb(76, 175, 80);
  color: #FFF;
}

.schedule-stop {
  background-color: rgb(244, 67, 54);
  color: #FFF;
}

.action-card {
  width: 100%;
  min-height: 0px;
}

.mdl-card__title {
  background-color: #E4E4E4;
}

.mdl-card__title-text {
  font-size: 18px;
}

.mdl-card__actions span {
  font-weight: 300;
  font-size: 14px;
}

.remove_action {
  cursor: pointer;
}

#no_schedules {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  color: #666;
}

#no_schedules i.material-icons {
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
}

#toast-message {
  margin-bottom: 30px;
}

*:focus {
    outline: none;
}

.action_pushbullet .mdl-card__title {
  background: url(../img/pushbullet.png) #4AB367;
  background-size: 200px;
  background-position-x: 85%;
  background-position-y: -60px;
  background-repeat: no-repeat;
  color: #FFF;
}

.action_move .mdl-card__title, .action_api .mdl-card__title {
  background-color: #607D8B;
  color: #FFF;
}

.action_move .mdl-card__title i.material-icons {
    position: absolute;
    right: 50px;
    font-size: 90px;
    top: 0;
    opacity: 0.8;
}

.action_api .mdl-card__title i.material-icons {
  position: absolute;
  right: 50px;
  font-size: 150px;
  top: -35px;
  opacity: 0.8;
}

.remove_action {
  color: #FFF;
}

@media (max-width: 839px) and (min-width: 480px) {
  .mdl-cell {
      margin: 5px;
  }
}

@media (max-width: 479px) {
  .mdl-cell {
      margin: 5px;
  }
}
