html {
    color: #666;
}
nav ul li {
    padding: 0 15px;
}
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
}
nav ul a {
    padding: 0 15px 0 0;
}
nav .brand-logo {
    padding: 0 15px;
    font-weight: 300;
}
#logo-text {
    font-size: 40px;
    color: #666;
    position: absolute;
    width: 100%;
    margin: auto;
    height: 60px;
    top: 0;
    bottom: 0;
}
h1.header {
    color: #fff;
}
h2.header {
    color: #80cbc4;
}
span.badge.info {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2px;
}
span.badge.info.idle {
    background-color: #80cbc4;
}
span.badge.info.idle:after {
    content: "Idle";
}
span.badge.info.in-progress:after {
    content: "Download in Progress";
}
span.badge.info.in-progress {
    background-color: #26a69a;
}
a.collection-item.schedule {
    font-weight: 300;
    color: #666;
}
.collapsible-body {
    padding: 40px
}
.collapsible-header {
    position: relative;
}
.subtext {
    font-size: 12px;
}
.chip {
    margin-bottom: 10px;
}
.action_type {
    text-transform: capitalize;
    font-weight: 500;
}
.remove_action {
    cursor: pointer;
    font-size: 16px;
}
.card-image i {
    font-size: 250px;
    color: #fff;
    position: absolute;
    right: 0;
    top: -50px;
    opacity: 0.3;
}
.heading {
    margin-bottom: 30px;
}
.side-nav i {
    color: #666;
}
a.button-collapse > i {
    margin-left: 15px;
}
.card.small {
    height: 210px;
}
