body {
    padding-top: 40px;
}

.filter-label {
    padding: 10px;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 3px;
    display: inline-block;
}

.filter-close {
    margin-left: 5px;
    cursor: pointer;
}

.form-group.last {
    margin-top: 40px;
}

.form-group.filters {
    margin-bottom: 50px;
}

.glyphicon.help {
    cursor: pointer;
}

.align-right {
    text-align: right;
}

td .progress {
    margin-bottom: 0;
    height: 15px;
    border-radius: 3px;
}

.downloads {
    font-size: 12px;
}

.panel .panel-heading, .panel .panel-title {
    font-size: 13px;
    line-height: 26px;
}

.panel .panel-heading .glyphicon, .edit-host {
    cursor: pointer;
}

.label-title {
    background-color: #333333;
}

.dropdown-menu li a {
    cursor: pointer;
}

a.link {
    color: #333333
}

.popover {
    max-width: 600px;
}

.hide {
    display: none;
}

.navbar-brand small {
    color: #cdcdcd;
    font-size: 14px;
}

#announcement {
	margin-top: 25px;
}
