<!DOCTYPE html>
<html>

<head>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <header>

        <div id="main-nav">

            <div id="logo">
                <div id="logo-text" class="center">davos</div>
            </div>

            <div id="navigation">
                <ul>
                    <li class="active"><i class="material-icons">home</i><a th:href="@{/}" class="waves-effect waves-teal">Home</a></li>
                    <li><i class="material-icons">web</i><a th:href="@{/}" class="waves-effect waves-teal">File Manager</a></li>
                    <li><i class="material-icons">schedule</i><a th:href="@{/scheduling}" class="waves-effect waves-teal">Scheduling</a></li>
                    <li><i class="material-icons">settings</i><a class="waves-effect waves-teal">App Settings</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="container">

        </div>
    </main>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

</body>

</html>
