<!DOCTYPE html>
<html>

<head>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <header>

         <nav>
            <div class="nav-wrapper teal lighten-2">

                <a href="@{/}" class="brand-logo">davos</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><i class="material-icons left">home</i><a th:href="@{/}" class="waves-effect waves-teal">Home</a></li>
                    <li><i class="material-icons left">web</i><a th:href="@{/}" class="waves-effect waves-teal">File Manager</a></li>
                    <li><i class="material-icons left">schedule</i><a th:href="@{/scheduling}" class="waves-effect waves-teal">Scheduling</a></li>
                    <li><i class="material-icons left">settings</i><a class="waves-effect waves-teal">App Settings</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="valign-wrapper"><i class="material-icons left">home</i><a th:href="@{/}" class="waves-effect waves-teal">Home</a></li>
                    <li class="valign-wrapper"><i class="material-icons left">web</i><a th:href="@{/}" class="waves-effect waves-teal">File Manager</a></li>
                    <li class="valign-wrapper"><i class="material-icons left">schedule</i><a th:href="@{/scheduling}" class="waves-effect waves-teal">Scheduling</a></li>
                    <li class="valign-wrapper"><i class="material-icons left">settings</i><a class="waves-effect waves-teal">App Settings</a></li>
                </ul>
            </div>
        </nav>
        
    </header>

    <main>
        <div class="container">

        </div>
    </main>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

    <script type="text/javascript" th:inline="text">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</body>

</html>
