<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="An FTP client for your home server"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:inline="text">davos :: Edit [[${schedule.name}?: 'New Schedule']]</title>

    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en}" rel="stylesheet" />
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/material.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/davos.css}" media="screen" />

</head>

<body>
    <div class="davos-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="davos-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" th:text="${schedule.name}?: 'New Schedule'"></span>
                <div class="mdl-layout-spacer"></div>
                <div style="float: right"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" id="save_schedule">Save changes</button></div>
                <div id="toast-message" class="mdl-js-snackbar mdl-snackbar">
                  <div class="mdl-snackbar__text"></div>
                  <button type="button" class="mdl-snackbar__action"></button>
                </div>
            </div>
        </header>
        <div class="davos-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="davos-drawer-header">

                <div class="davos-avatar-dropdown">
                    <span>davos - a server FTP client</span>
                    <div class="mdl-layout-spacer"></div>
                    <input type="hidden" id="schedule_id" th:attr="value=${schedule.id}" />
                    <input type="hidden" id="schedule_lastrun" th:attr="value=${schedule.lastRun}" />
                </div>
            </header>
            <nav class="davos-navigation mdl-navigation mdl-color--blue-grey-800">
                <a th:href="@{/}" class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
                <a th:href="@{/}" class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">web</i>File Manager</a>
                <a th:href="@{/scheduling}" class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">schedule</i>Scheduling</a>
                <a th:href="@{/}" class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>Settings</a>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">

            <div class="mdl-grid davos-content paper">

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <h4>General</h4>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Name</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="schedule_name" th:attr="value=${schedule.name}" type="text" />
                </div>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">On Load</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="start_automatically">
                  <input id="start_automatically" class="mdl-switch__input" type="checkbox" th:checked="${schedule.startAutomatically}" />
                  <span class="mdl-switch__label">Start Automatically</span>
                </label>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Scan Interval</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <select class="browser-default" id="interval">
                    <option th:selected="${schedule.interval == 15}" th:value="15">Every 15 minutes</option>
                    <option th:selected="${schedule.interval == 30}" th:value="30">Every 30 minutes</option>
                    <option th:selected="${schedule.interval == 60}" selected="selected" th:value="60">Every hour</option>
                    <option th:selected="${schedule.interval == 120}" th:value="120">Every 2 hours</option>
                    <option th:selected="${schedule.interval == 720}" th:value="720">Twice a day</option>
                    <option th:selected="${schedule.interval == 1440}" th:value="1440">Once a day</option>
                </select>
              </div>

            </div>
            <div class="mdl-grid davos-content paper">

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <h4>Server</h4>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Protocol</span>
              </div>
              <div class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="protocol_ftp">
                  <input name="protocol_type" class="mdl-radio__button" value="FTP" type="radio" id="protocol_ftp" th:checked="${schedule.connectionType != null and schedule.connectionType.name() == 'FTP'}" />
                  <span class="mdl-radio__label">FTP</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="protocol_sftp">
                  <input name="protocol_type" class="mdl-radio__button" value="SFTP" type="radio" id="protocol_sftp" th:checked="${schedule.connectionType != null and schedule.connectionType.name() == 'SFTP'}" />
                  <span class="mdl-radio__label">SFTP</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="protocol_ftps">
                  <input name="protocol_type" class="mdl-radio__button" value="FTP" type="radio" id="protocol_ftps" th:checked="${schedule.connectionType != null and schedule.connectionType.name() == 'FTPS'}" />
                  <span class="mdl-radio__label">FTPS</span>
                </label>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Hostname (or IP)</span>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="server_name" th:attr="value=${schedule.hostName}" type="text" />
                </div>
              </div>
              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Port</span>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="short mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="server_port" th:attr="value=${schedule.port}" type="number" />
                </div>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Username</span>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="username" th:attr="value=${schedule.username}" type="text" />
                </div>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Password</span>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="password" th:attr="value=${schedule.password}" type="password" />
                </div>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Remote Folder</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="remote_path" th:attr="value=${schedule.remoteFilePath}" type="text" />
                </div>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Local Folder</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="local_path" th:attr="value=${schedule.localFilePath}" type="text" />
                </div>
              </div>

            </div>
            <div class="mdl-grid davos-content paper">

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <h4>File Transfers</h4>
              </div>

              <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="scan_files_only">
                  <input name="scan_type" class="mdl-radio__button" value="FILE" type="radio" id="scan_files_only" th:checked="${schedule.transferType != null and schedule.transferType.name() == 'FILE'}" />
                  <span class="mdl-radio__label">Files Only</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <p class="subtext">
                    Only download files in the remote folder. Ignore sub-folders.
                </p>
              </div>

              <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="scan_recursive">
                  <input name="scan_type" class="mdl-radio__button" value="RECURSIVE" type="radio" id="scan_recursive" th:checked="${schedule.transferType != null and schedule.transferType.name() == 'RECURSIVE'}" />
                  <span class="mdl-radio__label">Recursive</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <p class="subtext">
                    Look inside any sub-folders in the remote folder. If any files are found, download them.
                </p>
              </div>

            </div>
            <div class="mdl-grid davos-content paper" id="filters">

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <h4>Filters</h4>
              </div>

              <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" id="new_filter" type="text" />
                </div>
              </div>

              <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--raised" id="add_new_filter">
                  Add
                </button>
              </div>

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" id="filter_chips">
                <div class="chip" th:each="filter : ${schedule.filters}">
                    <input type="hidden" class="filter_id" th:attr="value=${filter.id}" />
                    <div class="letter" th:text="${#strings.substring(filter.value, 0, 1)}"></div>
                    <span class="filter_value" th:text="${filter.value}"></span>
                    <i class="material-icons">close</i>
                </div>
              </div>

            </div>

            <div class="mdl-grid davos-content paper" id="download_actions">

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <h4>Post-download Actions</h4>
              </div>

              <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <span class="label">Options</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <select class="browser-default" id="select_download_action">
                  <option value="choose" disabled="disabled" selected="selected">Add action...</option>
                  <option value="pushbullet">Pushbullet Notification</option>
                  <option value="move">Move Downloaded File</option>
                  <option value="api">Generic HTTP API Call</option>
                </select>
              </div>

              <div th:each="action : ${schedule.actions}" th:switch="${action.actionType}" th:attr="data-action-type=${action.actionType}, data-action-id=${action.id}, class='mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone action action_' + ${action.actionType}">

                <div class="demo-card-wide mdl-card mdl-shadow--2dp action-card" th:case="'move'">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Move Downloaded File</h2>
                    <i class="material-icons">folder_open</i>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <span>To</span>
                      <input class="mdl-textfield__input f1" th:attr="value=${action.f1}" />
                    </div>
                  </div>
                  <div class="mdl-card__menu">
                    <i class="material-icons remove_action">close</i>
                  </div>
                </div>

                <div class="demo-card-wide mdl-card mdl-shadow--2dp action-card" th:case="'pushbullet'">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Pushbullet Notification</h2>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <span>API Access Token</span>
                      <input class="mdl-textfield__input f1" th:attr="value=${action.f1}" />
                    </div>
                  </div>
                  <div class="mdl-card__menu">
                    <i class="material-icons remove_action">close</i>
                  </div>
                </div>

                <div class="demo-card-wide mdl-card mdl-shadow--2dp action-card" th:case="'api'">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Generic HTTP API Call</h2>
                    <i class="material-icons">http</i>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <span>URL</span>
                      <input class="mdl-textfield__input f1" th:attr="value=${action.f1}" />
                    </div>
                    <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <span>HTTP Method</span>
                      <input class="mdl-textfield__input f2" th:attr="value=${action.f2}" />
                    </div>
                    <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <span>Content Type</span>
                      <input class="mdl-textfield__input f3" th:attr="value=${action.f3}" />
                    </div>
                    <div class="full mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <span>Body</span>
                      <input class="mdl-textfield__input f4" placeholder="Use $filename to reference the file" th:attr="value=${action.f4}" />
                    </div>
                  </div>
                  <div class="mdl-card__menu">
                    <i class="material-icons remove_action">close</i>
                  </div>
                </div>

              </div>

            </div>

        </main>
    </div>

    <script type="text/javascript" th:src="@{/js/material.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/davos.js}"></script>
</body>

</html>
