<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %5p - [%c{1}] - %msg%n" />
		</Console>

	</Appenders>

	<Loggers>

		<Logger name="io.linuxserver" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="org.thymeleaf" level="warn" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>